* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.red {
  color: #00B4D8;
  font-weight: 700;
}

.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(36px, 8vw, 100px); 
}


body {
  font-size: 1.6em;
  background-color: #03045E;
  color: #CAF0F8;
}

header {
  width: 100%;
  height: 600px;
  background: url('../assets/images/pexels-pixabay-268415.jpg');
  background-size: cover;
  background-position: center;
  text-align: center;
  padding-top: 200px;
  text-shadow: 3px 3px 7px #0077B6;
}

#about {
  width: 100%;
  min-height: 900px;
  display: flex;
  flex-wrap: wrap;
}

#aboutLeft,
#aboutRight {
  width: 50%;
  padding: 25px 50px;
  box-sizing: border-box;
}

#aboutLeft {
  background: #0077B6;
  font-size: 1.3em;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

#aboutLeft > p {
  margin: 20px 0;
}

#bioPic {
  width: 100%;
  max-width: 250px;
  height: auto;
  border-radius: 50%;
  border: 4px solid #444;
  margin-right: 20px;
  margin-bottom: 20px;
  display: block;
}

#aboutRight {
  background: #90E0EF;
}

footer {
  width: 100%;
  height: 100px;
  text-align: center;
  padding-top: 18px;
  background: #023E8A;
  font-size: 0.9em;
}
